/* submit button for all starts here */

.add__btn {
    justify-content: center;
    border: none;
    height: 7vh;
    width: 100%;
  }
  .add__btn:hover {
    box-shadow: 6px 5px 6px #574ae257;
  }
  .add__btn:focus {
    outline: none;
  }
  .add__btn img {
    width: 5%;
    text-align: center;
  }
  button {
    background-color: #574ae2;
  }
  .button_on_loading {
    background-color: #574ae2;
    opacity: 0.7;
  }
  .add-stud-btn:focus {
    outline: none;
  }
  .text-green{
    color: #2aa804;
  }
  .text-red{
    color:#ee0004;
  }
  .error {
    border: 2px solid #ee0004;
  }
/* submit button styles ends here */







  /* add semester style here */
  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #574ae2 !important;
    border-radius: 4px !important;
  }
  .notes__upload_file:hover {
    border: 2px solid #574ae2;
    border-style: dashed;
    cursor: pointer;
    border-radius: 3%;
    background-color: #574ae21c;
  }
  .label-focus {
    color: #574ae2 !important;
  }
  .notes__upload_file {
    height: 25vh;
    width: 100%;
  }

  /* add semesters styles end here */


/* display errors or status ok  */

.status_error {
  color: #ca0909;
}
.status_success {
  color: #2aa804;
}

/* profile starting */

.profile__img {
  border: 1px solid rgb(224, 224, 224);
  height: 25vh;
  border-radius: 50%;
}
.profile_links {
  align-items: center;
  text-align: center;
}
.profile__btn {
  background-color: #ffffff;
  color: #574ae2;
  border: 2px solid #574ae2;
}
.profile__btn:hover {
  background-color: #574ae2;
  color: #ffffff;
}
.profile_links a:hover {
  background-color: #e9e8ff;
  color: #574ae2;
}
.profile_links a {
  display: flex;

  margin-top: 5%;
  padding: 5% 0% 5% 10%;
  border-radius: 20px;
}
.profile_links > .active {
  padding: 5% 0% 5% 10%;
  background-color: #e9e8ff;
  color: #574ae2;
  /* border:1px solid black; */
  border-radius: 20px;
}

.profile__btn {
  background-color: #ffffff;
  color: #574ae2;
  border: 1px solid #574ae2;
  font-size: 12px;
}
.profile_remove_btn {
  background-color: #ffffff;
  color: #ee0004;
  border: 1px solid #ee0004;
  font-size: 12px;
}
.profile_remove_btn:hover {
  background-color: #ee0004;
  color: #ffffff;
}
.profile__btn:hover {
  background-color: #574ae2;
  color: #ffffff;
}

input{
  padding: 11px 10px;
}


/* profile settings ends here */


/* lessons component */
.addlesson__btn {
  justify-content: center;
  border: none;
  height: 7vh;
  width: 100%;
}

.add-stud-btn:focus {
  outline: none;
}

.button_on_loading .v-spinner .v-clip{
  height: 30px !important;
  width: 30px !important;
}